<nav>
    <nav class="navbar navbar-default my-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" style="border: none;" data-toggle="collapse" data-target="#my-navbar-collapse" aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding: 0px">
                    <img alt="Brand" src="../../images/logos/Logomakr_5juZU0.png" height="50px">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="my-navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li ng-show="isUpload !== 'false'">
                        <a style="color: #f5f5f5" href="/">העלאת שיעורים <span style="margin-right: 2px;" class="glyphicon glyphicon-cloud-upload"></span></a>
                    </li>
                    <li ng-show="isRecordingsView !== 'false'">
                        <a style="color: #f5f5f5" href="/recordingsView">הורדת שיעורים <span style="margin-right: 2px;" class="glyphicon glyphicon-folder-open"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-left">
                    <li ng-show="isLogout !== 'false'">
                        <a style="color: #f5f5f5" href="/logout">יציאה <span class="glyphicon glyphicon-arrow-left"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>