body {
    background-color: mintcream;
    font: 15px/22px Arial,Helvetica,sans-serif;
}

.my-nav {
    background-color: #3c763d;
    padding: .3em;
}

.js-tree-box {
    margin-top: 2em;
}

.upload-btn {
    margin: 2em .1em;
    font-size: 140%;
    height: 3em;
    width: 100%;
}

.my-progress-bar {
    margin: .5em 0 .5em 0;
}

h3 {
    margin-bottom: 1em;
}

.jstree-disabled>.jstree-icon {
    -webkit-filter: none !important;
}

.small-margin {
    margin-top: .8em;
    margin-bottom: .8em;
}

::-webkit-scrollbar {
    display: none;
}

.admin-body-scroll {
    overflow-y: auto;
    height: 65vh;
}

.panel {
    background-color: rgba(223, 229, 201, 0.35) !important;
}

.rounded-input {
    border-radius: 3em !important;
}

.my-success-color {
    background-color: #74df76 !important;
}

.my-danger-color {
    background-color: #e19896 !important;
}

.tabs-content-margin {
    margin-top: 1em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgba(205, 242, 249, 0.42);
}

.dateSearch {
    background-color: mintcream;
    padding: .6em;
}

.my-username-group {
    overflow: auto;
    height: 15em;
}