<div class="panel panel-default">
    <div class="panel-heading">שינוי סיסמא</div>
    <div class="panel-body">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
                <div class="input-group col-lg-5 pull-right">
                <span class="row">
                    <b>סיסמת משתמש</b>
                </span>
                    <input type="password" class="form-control rounded-input" placeholder="סיסמא חדשה" ng-model="newUserPassword">
                    <input type="password" class="form-control rounded-input" placeholder="אימות סיסמא" ng-model="newUserPasswordConfirm">
                    <button class="btn btn-default pull-left my-success-color" style="margin-top: .2em;" ng-click="changePassword('user')">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <div class="input-group col-lg-5 pull-left">
                <span class="row">
                    <b>סיסמת מנהל</b>
                </span>
                    <input type="password" class="form-control rounded-input" placeholder="סיסמא חדשה" ng-model="newAdminPassword">
                    <input type="password" class="form-control rounded-input" placeholder="אימות סיסמא" ng-model="newAdminPasswordConfirm">
                    <button class="btn btn-default pull-left my-success-color" style="margin-top: .2em;" ng-click="changePassword('admin')">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </div>
            <div class="alert alert-danger" style="margin-top: .7em" ng-show="isError" role="alert">{{errorMessage}}</div>
        </div>
    </div>
</div>