<div class="panel panel-default">
    <div class="panel-heading">שינוי סיסמא</div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">סיסמת משתמש</span>
            <input type="password" class="form-control" placeholder="סיסמא חדשה" ng-model="newUserPassword">
            <span class="input-group-addon">אימות סיסמא</span>
            <input type="password" class="form-control" ng-model="newUserPasswordConfirm">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="changePassword('user')"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
        </div>
        <div class="input-group" style="margin-top: .4em">
            <span class="input-group-addon">סיסמת מנהל</span>
            <input type="password" class="form-control" placeholder="סיסמא חדשה" ng-model="newAdminPassword">
            <span class="input-group-addon">אימות סיסמא</span>
            <input type="password" class="form-control" ng-model="newAdminPasswordConfirm">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="changePassword('admin')"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
        </div>
        <div class="alert alert-danger" style="margin-top: .7em" ng-show="isError" role="alert">{{errorMessage}}</div>
    </div>
</div>