<div class="panel panel-default">
    <div class="panel-heading">ניהול משתמשים</div>
    <div class="panel-body">
        <div class="row container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="list-group my-username-group">
                    <a class="list-group-item row" ng-repeat="user in users track by $index">
                        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">משתמש: {{user.username}}</span>
                        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">סוג: {{user.type}}</span>
                        <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">מספר כניסות: {{user.numberOfEntries}}</span>
                        <hr/>
                        <span class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-left: 1em; margin-right: 2em;">
                            <span class="input-group" ng-show="true">
                                <input class="form-control col-xs-8 col-sm-8 col-md-8 col-lg-8" type="password" placeholder="סיסמא חדשה" ng-attr-id="{{'newPassword' + user.username}}" ng-keyup="$event.keyCode == 13 && Login()">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="editPassword(user.username)"><span class="glyphicon glyphicon-edit"></span></button>
                                </span>
                            </span>
                        </span>
                        <button class="btn btn-sm btn-danger" ng-click="removeUser(user.username)"><span class="glyphicon glyphicon-remove"></span></button>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 thumbnail" style="height: 15em;">
                <h5>צור משתמש חדש</h5>
                <input class="form-control rounded-input col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" type="text" placeholder="שם משתמש" ng-model="newUsername">
                <input class="form-control rounded-input col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" type="password" placeholder="סיסמא" ng-model="newUserPassword">
                <select class="form-control rounded-input col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-model="newUserType">
                    <option class="text-center" ng-repeat="type in userTypes" ng-cloak>{{type}}</option>
                </select>
                <button class="btn btn-success small-margin col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-click="createNewUser()"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            </div>
        </div>
    </div>
</div>