<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="input-group">
        <span class="row">
            <b>{{userType.title}}</b>
        </span>
        <input type="password" class="form-control rounded-input" placeholder="סיסמא חדשה" ng-model="newPassword">
        <input type="password" class="form-control rounded-input" placeholder="אימות סיסמא" ng-model="newPasswordConfirm">
        <button class="btn btn-default pull-left my-success-color" style="margin-top: .2em;" ng-click="changePassword()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>